/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

/* Estilos de la barra de búsqueda */
.search-bar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Estilos del campo de entrada */
.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

/* Estilos del botón */
.search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.hola{
    color: rgb(23, 101, 51);
}